html, body {
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

body {
  background: url(../assets/pic4.jpg);
  height: 100%;
  background-position: center;
  background-size: cover; 
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: .8px;
  text-decoration: none; }

li {
  font-size: 14px;
  list-style-type: none; }

ul {
  padding: 0;
 }

h2 {
  font-size: 2.2em;
  font-weight: 400;
  color: #666; }

p {
  font-size: 1.3em;
    font-weight: 500;
    line-height: 1.6; }

/*------navbar------*/
.navbar {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
  color: white;
  display: flex;
  justify-content: space-between; }
  .navbar li {
    list-style-type: none;
    display: inline-block; }
    .navbar li a {
      padding: 0 1.3125rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px; }
    .navbar li a:hover {
      color: #7EB1B7; }

.logo p{
  margin-top: -1px;
  margin-bottom: -14px;
  font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.3px;
}



.email{
    outline: none;
    border: 1px solid #e2e2e2 !important;
    width: 300px !important;
    padding: 7px 13px !important;
    font-size: 14px !important;
    border-radius: 2px !important;
}
.container {
  height: 100%; }

.join-button{
  background: #7EB1B7;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 7px;
    border-radius: 2px;
}
/*------landing page ---------*/
.landing-page {
  color: white;
  margin-bottom: 10%; }
  .landing-page .landing-page-inside {
    width: 80%;
    margin: auto;
    padding-top: 140px;
    position: relative;
    top: 15px;
    opacity: 0; }
    .landing-page .landing-page-inside p {
      margin: 60px 0;
      width: 75%; }
    .landing-page .landing-page-inside h2 {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
      line-height: 40px; }

/*-----work page ------*/
.work-page {
  background: #f7f7f7;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  width: 115%;
  position: relative;
  left: -5%;
  margin: 50px;
  padding: 70px 0 100px 0; }
  .work-page .work-page-inside {
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    transform: rotate(4deg);
    width: 80%;
    margin: auto; }
    .work-page .work-page-inside h2 {
      text-align: right;
      width: 87%;
      text-transform: uppercase; }

.work-animate-page {
  position: relative;
  top: 30px;
  opacity: 0;
  padding:30px 0; }

.work-subheading{
    font-size: 20px;
    color: #666;
}
.emoji{
  margin-right: 8px;
}
.work-para {
  margin-top: 30px;
  font-size: 15.5px;
  line-height: 1.6;
  width: 75%;
  color: rgba(68, 68, 68, 0.73); }

.work-page-inside-projectone {
  background: url("../assets/project13.jpg");
  background-size: cover;
  background-position: center;
  text-align: middle; }

.work-page-inside-projecttwo {
  background: url("../assets/proto.jpg");
  background-size: cover;
  background-position: center; }

/*-----Connect page -----*/
.connect-page {
  color: white;
  margin-top: 60px; }
  .connect-page .connect-page-inside {
    width: 80%;
    margin: 140px auto; }
  .connect-page h2 {
    padding-top: 45px;
    color: white;
    text-transform: uppercase; }
  .connect-page p {
    width: 70%;
    margin-top: 60px; }

.social-buttons a {
  font-size: 18px;
  color: white;
  padding-left: 10px; }

.connect-page-animate {
  position: relative;
  top: 30px;
  opacity: 0; }

.connect-page-info {
  margin: 40px 0 30px 0; }
  .connect-page-info li {
    line-height: 25px; }
  .connect-page-info a {
    color: #666; }

.phone{
  margin-top: 10px !important; 
  font-size: 15px;
}
/*----media queries-----*/

/*# sourceMappingURL=main.css.map */
